Package: com.ivintagelover.lockscreen16
Name: LockScreen16
Version: 1.0
Section: Tweaks
Architecture: iphoneos-arm
Author: iVintageLover
Maintainer: iVintageLover
Description: iOS 16 Lock Screen clock for older iDevices. Apple using XEN HTML. Supports iPhone, iPad and iPod touch running iOS 9.0 and later
