Package: com.ivintagelover.locktimex
Name: LockTimeX
Version: 1.2
Section: Tweaks
Architecture: iphoneos-arm
Author: iVintageLover
Maintainer: iVintageLover
Description: iOS 16 Lock Screen clock for older iDevices. Apply using Xen HTML. Supports iPhone, iPad and iPod touch running iOS 9.0 and later.
